@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<link rel="stylesheet" type="text/css" href="/css/FrontPageStyle.css" />


<header class="siteTitle">
    <h1>@Model.SiteTitle</h1>

</header>

<body>
    
        <div id="banner-image" >
        <img class="w-100" src="@Model.Banner.Url" alt="banner" class="banner"/>
        </div>
     
    <div id="mainContent">
        <p>@Model.MainContent</p>
       <p>
            @Html.Partial("listNewestProjects")
        </p>
    </div>

</body>